body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: #3b3b3b;
    text-align: center;
}

nav {
    align-items: center;
}

.topbar {
    display: flex;
    gap: 1.2rem;
    list-style: none;
    background: 	#141414;
    padding: 15px;
    box-shadow: 2px 3px 2px #000000;
    justify-content: center;
    z-index: 1;

}
a:link { 
    text-decoration: none; 
  } 

.link {
    color: lightgray;
    padding: 0.5rem;
    position: relative;
    margin-left: 10px;    
}

.link:hover {
   color: #fff;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
}

.link::before {
    bottom: 0;
    left: 0;
}

.link:hover::before {
    transform: scaleX(1);
}
.logo {
    color: white;
    transition: 0.5s ease;
    margin-right: 700px;
}

.logo:hover {
   opacity: 0.5;
}



.main-menu {
    position: fixed;
    width: 50px; 
    height: 100%;
    background: #333;
    border-right: 1px solid lightgray;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 2;
}

.main-menu:hover {
    width: 250px; 
}

.main-menu ul {
    padding: 20px;
    list-style: none;
}

.main-menu li {
    margin-bottom: 15px;
}
.main-menu span {
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease;
}

.main-menu a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: padding 0.3s ease;
}
.main-menu a span {
    opacity: 0;
    position: absolute;
    left: 30px; 
    transition: opacity 0.3s ease;
}

.main-menu:hover a span {
    opacity: 1;
}
.main-menu a:hover {
    padding-left: 20px; 
}
.nav-text {
    color: lightgray;
    padding: 0.5rem;
    position: relative;
    margin-left: 10px;    
}
.nav-text:hover {
    color: white;
    text-shadow: 3px 8px 10px white;
}
.nav-text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.2s ease;
}

.nav-text::before {
    bottom: 0;
    left: 0;
}

.nav-text:hover::before {
    transform: scaleX(1);
}

.h2 {
    display: flex;
    color: white;
    margin-left: 600px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: lightgray;
    justify-content: center
}

.box {
    width: 400px; 
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
}

.box .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5 ease-in-out;
}
.box::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid lightgray;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4 ease-in-out;
}
.box:hover img {
    filter: 
    grayscale(1)
    brightness(0.4)
}
.box:hover .content h2 {
    scale: 1;
    opacity: 1;
}
.box::hover content a {
    opacity: 1;
    transform: translateY(0);
}
