body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: lightblue;
    padding: 0 20px;
}

#logo {
    margin: 400px;
}

#topbar a {
    margin: 50px;
}

#container {
    display: flex;
    flex: 1;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding: 10px;
    width: 100px;
    margin: 10px;
}

#sidebar a {
    margin: 10px;
}

#feed {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    margin: 10px;
    flex: 1;
}